<h1><%=@category.name%></h1>

<%@articles.each do |article| %>
  <%= link_to "#{article.title}", article%> <br><br>
<%end%>

<p><%= link_to "Update", edit_category_path %></p>
<p><%= link_to "Make a new article!", new_category_article_path(@category) %></p>

